        .Header-Content {
            position:absolute;
            font-size:20;
            background-color:white;
            display:flex;
            justify-content: space-around;
            padding:30px;
            border-radius:5%;
            width:auto;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        }

        .background {
            background-size: cover;
            background-repeat: no-repeat;
            padding: 20px; /* Adjust the padding as needed */
            text-align: center;
            color: white;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 20px;

        }
        body {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color: black;
        }


        .flex{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

        .container {
            max-width: 1000px; 
            margin: auto;
        }

        img {
            width: 100%;
            max-height: 800px; 
            object-fit: cover; 
        }

        .text-overlay {
            font-family:'Roboto',sans-serif;
            font-weight: 50;
            position: absolute; /* Position the text absolute to the container */
            top: 5%; /* Adjust top position as needed */
            left: 10%; /* Adjust left position as needed */
            transform: translate(-50%, -50%); /* Center the text within the container */
            color: white; /* Set text color */
            font-size: 24px; /* Set text size */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow to text */
        }   
        .image-with-text {
            position: relative;
        }

        .Inner-text {
            position: absolute; /* Position the text absolute to the container */
            top: 50%; /* Adjust top position as needed */
            left: 50%; /* Adjust left position as needed */
            transform: translate(-50%, -50%); /* Center the text within the container */
            color: white; /* Set text color */
            font-size: 24px; /* Set text size */
            font-weight: bold; /* Set text weight */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow to text */
        }

        p {
            text-align: center;
            font-weight:100;
            
        }
        .logo-container {
                margin-right: 10px;
            display: flex;
            align-items: center;
        }

        .logo-container img {
            width:150px;
            height:auto;
            align-items: center;
        }
        .section-heading {
            margin-top:5px;
        }
        .social-icons {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        
        .social-icons a {
            margin: 0 10px;
        }
    
        .social-links {
            list-style: none;
            padding: 0;
            margin: 0;
          }
          
          .social-links li {
            display: inline-block;
            margin-right: 10px; /* Adjust spacing between icons */
          }
          
          .social-links li:last-child {
            margin-right: 0; /* Remove margin for the last icon */
          }
          
          .social-links img {
            width: 30px; /* Set a consistent width for all icons */
            height: auto; /* Maintain aspect ratio */
          }